{% extends 'base.html.twig' %}


{% block main %}


    <!--================Checkout Area =================-->
    <section class="checkout_area section_padding">
        <div class="container">

            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Данни за поръчка</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" value="{{ order.name }}" disabled  class="form-control" id="first" name="name" />
                                <span class="placeholder" data-placeholder="Име"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" name="name" value="{{ order.surname }}" disabled />
                                <span class="placeholder" data-placeholder="Фамилия"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="number" name="number" disabled value="{{ order.phone }}"/>
                                <span class="placeholder" data-placeholder="Телефон"></span>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email"  value="{{ order.email }}" disabled name="compemailany" />
                                <span class="placeholder" data-placeholder="Имейл адрес"></span>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <select class="country_select">
                                    <option value="1">Град/село</option>
                                    <option value="2">Country</option>
                                    <option value="4">Country</option>
                                </select>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="add1" />
                                <span class="placeholder" data-placeholder="Адрес"></span>
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="city" name="city" />
                                <span class="placeholder" data-placeholder="Town/City"></span>
                            </div>
                            <textarea class="form-control" name="message" id="message" rows="1"
                                      placeholder="Добави допълнителни изисквания"></textarea>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Детайли за поръчка</h2>
                            <ul class="list">
                                <li>
                                    <a href="#">Продукт
                                        <span>Общо</span>
                                    </a>
                                </li>
                                {% set sum=0 %}
                                {% for product in shoppingCart %}
                                {% set sum=sum+product.price %}
                                <li>
                                    <a href="{{ path('editProduct',{ 'id':product.getCartProduct()[0].id}) }}">
                                        {{ product.getCartProduct()[0].modelNumber }}
                                        <span class="middle">x {{  product.quantity }}</span>
                                        <span class="last">{{ (product.getCartProduct()[0].price)*product.quantity|number_format(2)  }} лв.</span>
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                            <ul class="list list_2">
                                <li>
                                    <a href="#">Общо за поръчка
                                        <span>{{ sum }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Shipping
                                        <span>Flat rate: $50.00</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Total
                                        <span>$2210.00</span>
                                    </a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

{% endblock %}