{% extends 'base.html.twig' %}

{% block stylesheets %}
	<style>
		/* Useful css to scss converter
* http://sebastianpontow.de/css2compass/
*/
		// colors
		$color_quill_gray_approx: #d4d4d4;
		$white: #fff;
		$color_gray_nurse_approx: #e9e9e9;

		.autocomplete {
			position: relative;
			display: inline-block;
		}
		.autocomplete-items {
			position: absolute;
			z-index: 99;
			top: 78%;
			left: 0;
			right: 0;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/customs/checkout.css')}}">

{% endblock %}

{% block title %}Завършване на поръчка
{% endblock %}

{% block main %}

	<main class="main checkout">
		<div class="page-content pt-7 pb-10 mb-10">
			<div class="step-by pr-4 pl-4">

				<h3 class="title title-simple title-step active">
					<a>Поръчка #{{order.getId()}}</a>
				</h3>

			</div>
			<div class="container mt-7">

					<div class="row">
						<div class="col-lg-7 mb-6 mb-lg-0 pr-lg-4">
							<h3 class="title title-simple text-left text-uppercase">Детайли за доставка</h3>
							<div class="row">
								<div class="col-xs-6">
									<label>Име *
									</label>
									<input type="text" class="form-control" value="{{order.getName()}}" id='name'/>
								</div>
								<div class="col-xs-6">
									<label>Фамилия *
									</label>
									<input type="text" class="form-control" value="{{order.getSurname()}}" id='surname'/>
								</div>
							</div>
							<label>Имейл *
							</label>
							<input type="email" class="form-control" value="{{order.getEmail()}}" id='email'/>
							<label>Доставчик *
							</label>
							<input type="text" class="form-control" value="{{order.getDeliver()}}" id='deliver'/>
							<label>Доставка до *
							</label>
							<input type="text" class="form-control" value="{{order.getDeliver()}}/{{order.getWayOfDelivery()}}" id='deliver'/>

							<input id='order' onload='renderCartCheckout()' type='hidden' value='{{order.getOrderJson()}}'>

							<div class="row">
								<div class="col-xs-12">
									<label>Населено място *
									</label>
									<input type="text" class='form-control autocomplete' id='myInput' value="{{order.getPopulatedPlace()}}" type='text'/>
								</div>

							</div>
							<div class="row">
								<div class="col-xs-6">
									<label>Пощенски код *
									</label>
									<input type="text" class="form-control" value="{{order.getZipCode()}}"/>
								</div>
								<div class="col-xs-6">
									<label>Телефонен номер *
									</label>
									<input type="text" class="form-control" value="{{order.getPhone()}}" />
								</div>
							</div>

							<label>Адрес за доставка *
								<span class="invalid-input" id="addressRequired">Моля въведете адрес</span>
							</label>
							<input type="text" class="form-control" value="{{order.getAddress()}}"/>
							<label>Офис *
							</label>
							<div class="select-box">

								<input type="text" class="form-control"  value="{{order.getOffice()}}"/>

							</div>

							<h2 class="title title-simple text-uppercase text-left">Допълнителна информация</h2>
							<textarea class="form-control pb-2 pt-2 mb-0" cols="30" rows="5" value='{{order.getAdditionalInfo()}}'></textarea>
						</div>
						<aside class="col-lg-5 sticky-sidebar-wrapper">
							<div class="sticky-sidebar mt-1" data-sticky-options="{'bottom': 50}">
								<div class="summary pt-5">
									<h3 class="title title-simple text-left text-uppercase">Вашата поръчка</h3>
									<table class="order-table">
										<thead>
											<tr>
												<th>Продукти</th>
												<th></th>
											</tr>
										</thead>
										<tbody id="cart-content"></tbody>
									</table>
									<div class="payment accordion radio-type">
										<h4 class="summary-subtitle ls-m pb-3">Метод на плащане</h4>
										<label>
											НАЛОЖЕН ПЛАТЕЖ
										</label>
									</div>
									<div class='text-center p-4'>
									<form method="post" action="{{ path('changeOrderStatus' )}}" >
									<input type='hidden' value='{{order.id}}' id='id' name='id'>
									{% if order.status=='new' %}
										<h3 class="  text-danger" >НЕПОТВЪРДЕНА</h3>
										<button type='submit' class='btn btn-primary'>ПОТВЪРДИ</button>
										<input type='hidden' value='confirmed' id='status' name='status'>
									{% endif %}
									{% if order.status=='confirmed' %}
										<h3 class="  text-warning" style="color: yellow">НЕИЗПЪЛНЕНА</h3>
										<button type='submit' class='btn btn-primary'>ИЗПЪЛНИ</button>
										<input type='hidden' value='done' id='status' name='status'>

									{% endif %}
									{% if order.status=='returned' %}
										<h3 class=" text-danger" style="color: green">Върната</h3>

									{% endif %}
									{% if order.status=='done' %}
										<h3 class=" " style="color: green">ИЗПЪЛНЕНА</h3>
										<button type='submit' class='btn btn-primary'>ВЪРНАТА</button>
										<input type='hidden' value='returned' id='status' name='status'>
									{% endif %}
									</form>
									</div>
								</div>
							</div>
						</aside>
					</div>
			</div>
		</div>
	</main>

{% endblock %}

{% block javascripts %}

	<script src="{{ asset('/assets/js/seeOrder.js')}}"></script>
	<script src="{{ asset('/assets/js/autocomplete.js')}}"></script>

{% endblock %}

