{% extends 'base.html.twig' %}

{% block main %}

    <!-- Feature -->
    <section class="section-wrap pb-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 feature">
                    <i class="ui-cube feature__icon"></i>
                    <div class="feature__holder">
                        <h6 class="feature__title">Избери родното</h6>
                        <span class="feature__text">Всеки един продукт е произведен в България</span>
                    </div>
                </div>
                <div class="col-md-3 feature">
                    <i class="ui-plane feature__icon"></i>
                    <div class="feature__holder">
                        <h6 class="feature__title">Бърза доставка</h6>
                        <span class="feature__text">Доставката се извършва до 3 дни (за територията на България)</span>
                    </div>
                </div>
                <div class="col-md-3 feature">
                    <i class="ui-pricetag feature__icon"></i>
                    <div class="feature__holder">
                        <h6 class="feature__title"><span class="feature__promo">ПРОМОЦИИ</span> всяка седмица</h6>
                        <span class="feature__text">Възползвай се от нашите промоции</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Best Seller -->
    <section class="section-wrap pb-30">
        <div class="container">

            <div class="heading-row">
                <div class="text-center">
                    <h2 class="heading bottom-line">
                        БЕСТСЕЛЪРИ
                    </h2>
                </div>
            </div>

            <div class="row row-8">
                {% for product in bestSellers %}

                    <div class="col-lg-3 col-sm-3 product">
                        <div class="product__img-holder">
                            <a href="{{ path('singleProduct',{ 'id':product.id}) }}" class="product__link" aria-label="Product">
                                <img src="img/uploaded/{{ product.id }}.0.jpg" alt="" class="product__img">
                            </a>
                        </div>

                        <div class="product__details">
                            <h3 class="product__title">
                                <a href="{{ path('singleProduct',{ 'id':product.id}) }}">{{ product.title }}</a>
                            </h3>
                        </div>

                        <span class="product__price">
                            {% if product.discount is empty %}
                                <ins>
                                <span class="amount">{{ product.price }} лв.</span>
                            </ins>
                        {% else %}

                            <ins>
                <span class="amount" style="color: red">{{ product.price }} лв.</span>
              </ins>
                            <del>
                <span>{{ product.discount }} лв.</span>
              </del>

                            {% endif %}
                             </span>
                    </div> <!-- end product -->
                {% endfor %}
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end best seller -->

    <!-- New Arrivals -->
    <section class="section-wrap no-padding">
        <div class="container">

            <div class="heading-row">
                <div class="text-center">
                    <h2 class="heading bottom-line">
                        НАЙ-НОВИ
                    </h2>
                </div>
            </div>

            <div class="row row-8">

                {% for product in lastOnes %}

                    <div class="col-lg-3 col-sm-3 product">
                        <div class="product__img-holder">
                            <a href="{{ path('singleProduct',{ 'id':product.id}) }}" class="product__link" aria-label="Product">
                                <img src="img/uploaded/{{ product.id }}.0.jpg" alt="" class="product__img">
                            </a>
                        </div>

                        <div class="product__details">
                            <h3 class="product__title">
                                <a href="{{ path('singleProduct',{ 'id':product.id}) }}">{{ product.title }}</a>
                            </h3>
                        </div>

                        <span class="product__price">
                            {% if product.discount is empty %}
                                <ins>
                                <span class="amount">{{ product.price }} лв.</span>
                            </ins>
                        {% else %}

                                <ins>
                <span class="amount" style="color: red">{{ product.price }} лв.</span>
              </ins>
                                <del>
                <span>{{ product.discount }} лв.</span>
              </del>

                            {% endif %}
                             </span>
                    </div> <!-- end product -->
                {% endfor %}
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end new arrivals -->

    <!-- Testimonials -->
    <section class="section-wrap">
        <div class="container">

            <div class="heading-row mb-0">
                <div class="text-center">
                    <h2 class="heading">
                        Мнение на наши клиенти:
                    </h2>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-8">

                    <div id="owl-testimonials"
                         class="owl-carousel owl-theme owl-carousel--dark-arrows owl-carousel--visible-arrows">

                        <div class="testimonial">
                            <div class="testimonial__rating text-center">
                                <span class="rating"></span>
                            </div>
                            <p class="testimonial__text">Обувките, които получих бяха просто перфектни, много удобни и качеството беше отлично.</p>
                            <span class="testimonial__author">Ива Георгиева</span>
                        </div>

                        <div class="testimonial">
                            <div class="testimonial__rating text-center">
                                <span class="rating"></span>
                            </div>
                            <p class="testimonial__text">Обслужването е много добро, а обувките са просто чудесни.</p>
                            <span class="testimonial__author">Мария Георгиева</span>
                        </div>

                        <div class="testimonial">
                            <div class="testimonial__rating text-center">
                                <span class="rating"></span>
                            </div>
                            <p class="testimonial__text">След като си купих обувки от СВИК, всичките ми приятели ме питаха от къде са ми, защото много им харесали.</p>
                            <span class="testimonial__author">Георги Петров</span>
                        </div>

                    </div> <!-- end carousel -->
                </div>
            </div> <!-- end carousel row -->

        </div>
    </section> <!-- end testimonials -->
{% endblock %}
