{% extends 'base.html.twig' %}

{% block main %}
    <!-- Page Title -->
    <section class="page-title text-center">
        <div class="container">
            <h1 class=" heading page-title__title">checkout</h1>
        </div>
    </section> <!-- end page title -->


    <!-- Checkout -->
    <section class="section-wrap checkout">
        <div class="container relative">
            <div class="row">

                <div class="ecommerce col">
                    <form name="checkout" class="checkout ecommerce-checkout row" id="checkOut" method="post" action="{{ path('buy', { 'id':product.id} )}}">
                        <div class="col-lg-7" id="customer_details">
                            <div>
                                <h2 class="uppercase mb-30">Данни за поръчката</h2>

                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-row form-row-first validate-required ecommerce-invalid ecommerce-invalid-required-field"
                                           id="billing_first_name_field">
                                            <label for="billing_first_name">Име
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning1">Това поле е
                                                задължително</label>
                                            <input type="text" class="input-text" placeholder value
                                                   name="firstName" id="billing_first_name">

                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row form-row-last validate-required ecommerce-invalid ecommerce-invalid-required-field"
                                           id="billing_last_name_field">
                                            <label for="billing_last_name">Фамилия
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning2">Това поле е
                                                задължително</label>
                                            <input type="text" class="input-text" placeholder value
                                                   name="lastName" id="billing_last_name">
                                        </p>
                                    </div>
                                </div> <!-- end name / last name -->

                                <p class="form-row form-row-wide address-field update_totals_on_change validate-required ecommerce-validated"
                                   id="billing_country_field">
                                    <label for="billing_country">Начин на доставка
                                        <abbr class="required" title="required">*</abbr>
                                    </label>
                                    <br>
                                    <label style="display: none; color: red" id="warning3">Това поле е
                                        задължително</label>
                                    <select name="wayToDelivery" id="ademss" class="country_to_state country_select"
                                            title="Country *">
                                        <option >Избери...</option>
                                        <option>Доставка с куриер до адрес</option>
                                        <option>Вземане лично от офис на куриер</option>
                                    </select>
                                </p>
                                <div id="infoForAdress" style="display: none">

                                    <p class="form-row form-row-wide address-field validate-required"
                                       id="billing_city_field"
                                       data-o_class="form-row form-row-wide address-field validate-required">
                                        <label for="billing_city">Град / Село
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <br>
                                        <label style="display: none; color: red" id="warning4">Това поле е
                                            задължително</label>
                                        <input type="text" class="input-text" placeholder="Town / City" value
                                               name="townAdress" id="billing_city">
                                    </p>

                                    <p class="form-row form-row-last address-field validate-required validate-postcode ecommerce-invalid ecommerce-invalid-required-field"
                                       id="billing_postcode_field"
                                       data-o_class="form-row form-row-last address-field validate-required validate-postcode">
                                        <label for="billing_postcode">Пощенски код / ZIP
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <br>
                                        <label style="display: none; color: red" id="warning5">Това поле е
                                            задължително</label>
                                        <input type="text" class="input-text" placeholder value
                                               name="postCode"
                                               id="billing_postcode">
                                    </p>
                                    <p class="form-row form-row-wide address-field validate-required ecommerce-invalid ecommerce-invalid-required-field"
                                       id="billing_address_1_field">
                                        <label for="billing_address_1">Адрес
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                    </p>
                                    <label style="display: none; color: red" id="warning6">Това поле е
                                        задължително</label>
                                    <p class="form-row form-row-wide address-field" id="billing_address_2_field">
                                        <input type="text" class="input-text"
                                               placeholder="напр. кватрал, улица, номер, вход... " value
                                               name="adress" id="billing_address_2">
                                    </p>
                                </div>
                                <div id="infoForOffice" style="display: none">

                                    <p class="form-row form-row-wide address-field validate-required"
                                       id="billing_city_field"
                                       data-o_class="form-row form-row-wide address-field validate-required">
                                        <label for="billing_city">Град / Село
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <br>
                                        <label style="display: none; color: red" id="warning7">Това поле е
                                            задължително</label>
                                        <select name="townOfEkontOffice" id="ademss2"
                                                class="country_to_state country_select" title="Country *">
                                            <option selected="selected">Избери...</option>
                                            <option id="2932">2932 Абланица</option>
                                            <option id="7538">7538 Айдемир</option>
                                            <option id="8500">8500 Айтос</option>
                                            <option id="9154">9154 Аксаково</option>
                                            <option id="6750">6750 Ардино</option>
                                            <option id="4230">4230 Асеновград</option>
                                            <option id="8217">8217 Ахелой</option>
                                            <option id="9600">9600 Балчик</option>
                                            <option id="1320">1320 Банкя</option>
                                            <option id="2770">2770 Банско</option>
                                            <option id="5930">5930 Белене</option>
                                            <option id="4470">4470 Белово</option>
                                            <option id="3900">3900 Белоградчик</option>
                                            <option id="4130">4130 Белозем</option>
                                            <option id="9178">9178 Белослав</option>
                                            <option id="3500">3500 Берковица</option>
                                            <option id="2700">2700 Благоевград</option>
                                            <option id="2660">2660 Бобошево</option>
                                            <option id="2227">2227 Божурище</option>
                                            <option id="2140">2140 Ботевград</option>
                                            <option id="3790">3790 Брегово</option>
                                            <option id="2360">2360 Брезник</option>
                                            <option id="8000">8000 Бургас</option>
                                            <option id="3200">3200 Бяла Слатина</option>
                                            <option id="9101">9101 Бяла, Варненско</option>
                                            <option id="7100">7100 Бяла, Русенско</option>
                                            <option id="9000">9000 Варна</option>
                                            <option id="9850">9850 Велики Преслав</option>
                                            <option id="5000">5000 Велико Търново</option>
                                            <option id="4600">4600 Велинград</option>
                                            <option id="7080">7080 Ветово</option>
                                            <option id="3700">3700 Видин</option>
                                            <option id="3000">3000 Враца</option>
                                            <option id="2930">2930 Вълкосел</option>
                                            <option id="3650">3650 Вълчедръм</option>
                                            <option id="9280">9280 Вълчи Дол</option>
                                            <option id="9870">9870 Върбица</option>
                                            <option id="3540">3540 Вършец</option>
                                            <option id="5300">5300 Габрово</option>
                                            <option id="9500">9500 Генерал Тошево</option>
                                            <option id="7630">7630 Главиница</option>
                                            <option id="7040">7040 Глоджево</option>
                                            <option id="3327">3327 Гложене</option>
                                            <option id="5100">5100 Горна Оряховица</option>
                                            <option id="2900">2900 Гоце Делчев</option>
                                            <option id="8990">8990 Градец</option>
                                            <option id="6280">6280 Гълъбово</option>
                                            <option id="7150">7150 Две Могили</option>
                                            <option id="4800">4800 Девин</option>
                                            <option id="9160">9160 Девня</option>
                                            <option id="6850">6850 Джебел</option>
                                            <option id="6400">6400 Димитровград</option>
                                            <option id="2777">2777 Добринище</option>
                                            <option id="9300">9300 Добрич</option>
                                            <option id="5855">5855 Долна Митрополия</option>
                                            <option id="5130">5130 Долна Оряховица</option>
                                            <option id="5870">5870 Долни Дъбник</option>
                                            <option id="9120">9120 Долни Чифлик</option>
                                            <option id="4641">4641 Дорково</option>
                                            <option id="4831">4831 Доспат</option>
                                            <option id="2210">2210 Драгоман</option>
                                            <option id="5370">5370 Дряново</option>
                                            <option id="7650">7650 Дулово</option>
                                            <option id="2600">2600 Дупница</option>
                                            <option id="9168">9168 Езерово</option>
                                            <option id="5070">5070 Елена</option>
                                            <option id="2100">2100 Елин Пелин</option>
                                            <option id="8700">8700 Елхово</option>
                                            <option id="2180">2180 Етрополе</option>
                                            <option id="8988">8988 Жеравна</option>
                                            <option id="2080">2080 Златица</option>
                                            <option id="4980">4980 Златоград</option>
                                            <option id="6570">6570 Ивайловград</option>
                                            <option id="9143">9143 Игнатиево</option>
                                            <option id="7400">7400 Исперих</option>
                                            <option id="2050">2050 Ихтиман</option>
                                            <option id="8210">8210 Каблешково</option>
                                            <option id="9650">9650 Каварна</option>
                                            <option id="6100">6100 Казанлък</option>
                                            <option id="1532">1532 Казичене</option>
                                            <option id="7539">7539 Калипетрово</option>
                                            <option id="4370">4370 Калофер</option>
                                            <option id="4173">4173 Калояново</option>
                                            <option id="8120">8120 Камено</option>
                                            <option id="4300">4300 Карлово</option>
                                            <option id="8400">8400 Карнобат</option>
                                            <option id="6884">6884 Кирково</option>
                                            <option id="5835">5835 Кнежа</option>
                                            <option id="3320">3320 Козлодуй</option>
                                            <option id="4644">4644 Костандово</option>
                                            <option id="2030">2030 Костенец</option>
                                            <option id="2230">2230 Костинброд</option>
                                            <option id="8970">8970 Котел</option>
                                            <option id="2640">2640 Кочериново</option>
                                            <option id="4220">4220 Кричим</option>
                                            <option id="6900">6900 Крумовград</option>
                                            <option id="7300">7300 Кубрат</option>
                                            <option id="4101">4101 Куклен</option>
                                            <option id="6600">6600 Кърджали</option>
                                            <option id="2500">2500 Кюстендил</option>
                                            <option id="5900">5900 Левски</option>
                                            <option id="5500">5500 Ловеч</option>
                                            <option id="1151">1151 Лозен</option>
                                            <option id="8277">8277 Лозенец</option>
                                            <option id="7290">7290 Лозница</option>
                                            <option id="3600">3600 Лом</option>
                                            <option id="5770">5770 Луковит</option>
                                            <option id="6550">6550 Любимец</option>
                                            <option id="5140">5140 Лясковец</option>
                                            <option id="4900">4900 Мадан</option>
                                            <option id="7058">7058 Мартен</option>
                                            <option id="3100">3100 Мездра</option>
                                            <option id="3330">3330 Мизия</option>
                                            <option id="6800">6800 Момчилград</option>
                                            <option id="3400">3400 Монтана</option>
                                            <option id="8230">8230 Несебър</option>
                                            <option id="8900">8900 Нова Загора</option>
                                            <option id="1280">1280 Нови Искър</option>
                                            <option id="9900">9900 Нови Пазар</option>
                                            <option id="8250">8250 Обзор</option>
                                            <option id="3300">3300 Оряхово</option>
                                            <option id="6155">6155 Павел Баня</option>
                                            <option id="5200">5200 Павликени</option>
                                            <option id="4400">4400 Пазарджик</option>
                                            <option id="4500">4500 Панагюрище</option>
                                            <option id="2300">2300 Перник</option>
                                            <option id="4225">4225 Перущица</option>
                                            <option id="2850">2850 Петрич</option>
                                            <option id="4550">4550 Пещера</option>
                                            <option id="2070">2070 Пирдоп</option>
                                            <option id="5800">5800 Плевен</option>
                                            <option id="4000">4000 Пловдив</option>
                                            <option id="5180">5180 Полски Тръмбеш</option>
                                            <option id="8200">8200 Поморие</option>
                                            <option id="7800">7800 Попово</option>
                                            <option id="2161">2161 Правец</option>
                                            <option id="8290">8290 Приморско</option>
                                            <option id="9200">9200 Провадия</option>
                                            <option id="4270">4270 Първомай</option>
                                            <option id="8238">8238 Равда</option>
                                            <option id="6260">6260 Раднево</option>
                                            <option id="2400">2400 Радомир</option>
                                            <option id="7200">7200 Разград</option>
                                            <option id="2760">2760 Разлог</option>
                                            <option id="4640">4640 Ракитово</option>
                                            <option id="4150">4150 Раковски</option>
                                            <option id="2630">2630 Рила</option>
                                            <option id="4960">4960 Рудозем</option>
                                            <option id="7000">7000 Русе</option>
                                            <option id="2000">2000 Самоков</option>
                                            <option id="2800">2800 Сандански</option>
                                            <option id="2650">2650 Сапарева Баня</option>
                                            <option id="2950">2950 Сатовча</option>
                                            <option id="8256">8256 Свети Влас</option>
                                            <option id="6500">6500 Свиленград</option>
                                            <option id="5250">5250 Свищов</option>
                                            <option id="2260">2260 Своге</option>
                                            <option id="5400">5400 Севлиево</option>
                                            <option id="4490">4490 Септември</option>
                                            <option id="7500">7500 Силистра</option>
                                            <option id="6490">6490 Симеоновград</option>
                                            <option id="2730">2730 Симитли</option>
                                            <option id="8800">8800 Сливен</option>
                                            <option id="2200">2200 Сливница</option>
                                            <option id="7060">7060 Сливо Поле</option>
                                            <option id="8240">8240 Слънчев Бряг</option>
                                            <option id="4700">4700 Смолян</option>
                                            <option id="8130">8130 Созопол</option>
                                            <option id="4330">4330 Сопот</option>
                                            <option id="1000">1000 София</option>
                                            <option id="8300">8300 Средец</option>
                                            <option id="4210">4210 Стамболийски</option>
                                            <option id="6000">6000 Стара Загора</option>
                                            <option id="5150">5150 Стражица</option>
                                            <option id="8680">8680 Стралджа</option>
                                            <option id="4530">4530 Стрелча</option>
                                            <option id="9170">9170 Суворово</option>
                                            <option id="4190">4190 Съединение</option>
                                            <option id="4633">4633 Сърница</option>
                                            <option id="8890">8890 Твърдица</option>
                                            <option id="9450">9450 Тервел</option>
                                            <option id="5700">5700 Тетевен</option>
                                            <option id="6560">6560 Тополовград</option>
                                            <option id="5600">5600 Троян</option>
                                            <option id="4199">4199 Труд</option>
                                            <option id="5350">5350 Трявна</option>
                                            <option id="7600">7600 Тутракан</option>
                                            <option id="7700">7700 Търговище</option>
                                            <option id="5580">5580 Угърчин</option>
                                            <option id="6450">6450 Харманли</option>
                                            <option id="6300">6300 Хасково</option>
                                            <option id="4180">4180 Хисаря</option>
                                            <option id="8260">8260 Царево</option>
                                            <option id="4850">4850 Чепеларе</option>
                                            <option id="5980">5980 Червен Бряг</option>
                                            <option id="7051">7051 Червена Вода</option>
                                            <option id="6200">6200 Чирпан</option>
                                            <option id="9700">9700 Шумен</option>
                                            <option id="7078">7078 Щръклево</option>
                                            <option id="8989">8989 Ябланово</option>
                                            <option id="2790">2790 Якоруда</option>
                                            <option id="8600">8600 Ямбол</option>
                                        </select>
                                    </p>
                                    <p class="form-row form-row-wide address-field validate-required"
                                       id="billing_city_field"
                                       data-o_class="form-row form-row-wide address-field validate-required">
                                        <label for="billing_city">Офис на ЕКОНТ
                                            <abbr class="required" title="required">*</abbr>
                                        </label>
                                        <br>
                                        <label style="display: none; color: red" id="warning8">Това поле е
                                            задължително</label>
                                        <input type="text" class="input-text" placeholder value
                                               name="ekontOffice"
                                               id="ademss3">

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <p class="form-row form-row-last validate-required validate-phone"
                                           id="billing_phone_field">
                                            <label for="billing_phone">Телефон
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning9">Това поле е
                                                задължително</label>
                                            <label style="display: none; color: red" id="warning9Reg">Неправилен
                                                номер</label>
                                            <input type="text" class="input-text" placeholder value
                                                   name="phone"
                                                   id="billing_phone">
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-row form-row-first validate-required validate-email"
                                           id="billing_email_field">
                                            <label for="billing_email">Имейл адрес
                                                <abbr class="required" title="required">*</abbr>
                                            </label>
                                            <br>
                                            <label style="display: none; color: red" id="warning10Reg">Неправилен
                                                имейл</label>
                                            <label style="display: none; color: red" id="warning10">Това поле е
                                                задължително</label>
                                            <input type="text" class="input-text" placeholder value
                                                   name="email"
                                                   id="billing_email">
                                        </p>
                                    </div>
                                </div>

                            </div>

                            <div>
                                <p class="form-row notes ecommerce-validated" id="order_comments_field">
                                    <label for="order_comments">Коментар</label>
                                    <textarea name="comment" class="input-text" id="order_comments"
                                              rows="2" cols="6" ></textarea>
                                </p>
                                <div class="ecommerce-shipping-fields">
                                    <label style="display: none; color: red" id="warning11">Трябва да се съгласите с
                                        усливията за да продължите</label>
                                    <br>
                                    <input type="checkbox" id="ship-to-different-address-checkbox"
                                           class="input-checkbox" name="ship_to_different_address" value="1">
                                    <label for="ship-to-different-address-checkbox" class="checkbox">Съгласявам се с
                                        УСЛОВИЯТА на SVIK</label>
                                </div>
                            </div>

                        </div> <!-- end col -->

                        <!-- Your Order -->
                        <div class="col-lg-5">
                            <div class="order-review-wrap ecommerce-checkout-review-order" id="order_review">
                                <h2 class="uppercase">Вашата поръчка</h2>
                                <table class="table shop_table ecommerce-checkout-review-order-table">
                                    <tbody>
                                    <tr>
                                        <th>Модел №</th>
                                        <td >
                                            <input type="hidden" name="modelNumber" value="{{ product.modelNumber }}">
                                            <span class="amount">{{ product.modelNumber }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Номер:</th>
                                        <td >
                                            <input type="hidden" name="modelSize"  value="{{ size }}">
                                            <span class="amount">{{ size }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th >Цвят:</th>
                                        <td>
                                            <input type="hidden" name="modelColor"  value="{{ product.color }}">
                                            <span class="amount">{{ product.color }}</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <input type="hidden" name="modelTitle"  value="{{ product.title }}">
                                        <input type="hidden" name="modelPrice"  value="{{ product.price }}">
                                        <th  >{{ product.title }}<span class="count"> x 1</span></th>
                                        <td >
                                            <span class="amount">{{ product.price }} лв.</span>
                                        </td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Доставка</th>
                                        <td>
                                            <span>Цената на доставката се заплаща от клиента и не е включена в общата сума!</span>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th><strong>Общо</strong></th>
                                        <td>
                                            <strong><span class="amount">{{ product.price }} лв.</span></strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div id="payment" class="ecommerce-checkout-payment">
                                    <h2 class="uppercase">Начин на плащане</h2>
                                    <ul class="payment_methods methods">

                                        <li class="payment_method_bacs">
                                            <input id="payment_method_bacs" type="radio" class="input-radio"
                                                   name="payment_method" value="bacs" checked="checked">
                                            <label for="payment_method_bacs">Наложен платеж</label>
                                            <div class="payment_box payment_method_bacs">
                                                <p>При наложен платеж клиентите на SVIK заплащат поръчката си на
                                                    куриера.</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="form-row place-order">
                                        <input type="submit"
                                               class="btn btn-lg btn-color btn-button" id="sendddd"
                                               value="КУПИ">
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end order review -->
                    </form>

                </div> <!-- end ecommerce -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>

{% endblock %}