{% extends 'base.html.twig' %}

{% block body_id 'profile' %}

{% block main %}
    <!-- Catalog -->
    <section class="section-wrap pt-60 pb-30 catalog">
        <div class="container">

            <!-- Breadcrumbs -->
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('blog_index') }}">Начало</a>
                </li>
                <li class="active">
                    {{ category }}
                </li>
            </ol>

            <div class="row">
                <div class="col-lg-9 order-lg-2 mb-40">

                    <!-- Filter -->
                    <div class="shop-filter">
                        <p class="woocommerce-result-count">
                            {{ products|length }} Продукта
                        </p>


                    </div>

                    <div class="row row-8">
                        {% for product in products %}
                            <div class="col-md-4 col-sm-6 product">
                                <div class="product__img-holder">
                                    <a href="{{ path('singleProduct',{ 'id':product.id}) }}" class="product__link">
                                        <img src="/img/uploaded/{{ product.id }}.0.jpg" alt="" class="product__img">
                                        <img src="/img/uploaded/{{ product.id }}.0.jpg" alt=""
                                             class="product__img-back">
                                    </a>

                                </div>

                                <div class="product__details">
                                    <h3 class="product__title">
                                        <a href="{{ path('singleProduct',{ 'id':product.id}) }}">{{ product.title }}</a>
                                    </h3>
                                </div>
                                {% if product.discount is empty %}
                                    <ins>
                                        <span >{{ product.price }} лв.</span>
                                    </ins>
                                {% else %}
                                    <span class="product__price">
                  <ins>
                    <span class="amount" style="color: red;">{{ product.price }} лв.</span>
                  </ins>
                                        <del>
                <span>{{ product.discount }} лв.</span>
              </del>
                </span>
                                {% endif %}
                            </div> <!-- end product -->
                        {% endfor %}
                    </div> <!-- end row -->

                </div> <!-- end col -->


                <!-- Sidebar -->
                <aside class="col-lg-3 sidebar left-sidebar">

                    <!-- Categories -->
                    <div class="widget widget_categories widget--bottom-line">
                        <h2 class="widget-title">Категории</h2>
                        <ul>

                            <li>
                                <strong>Дамски</strong>
                            </li>
                            <li><a href="{{ path('womenSandals') }}">Дамски Сандали</a></li>
                            <li><a href="{{ path('womenSportShoes') }}">Дамски спортни обувки</a></li>
                            <li><a href="{{ path('womenEverydayShoes') }}">Дамски ежедневни обувки</a></li>
                            <li><a href="{{ path('womenBoots') }}">Дамски боти</a></li>
                            <li><a href="{{ path('womenBBoots') }}">Дамски ботуши</a></li>
                            <li>
                                <strong>Мъжки</strong>
                            </li>
                            <li><a href="{{ path('manOfficialShoes') }}">Мъжки официални обувки</a></li>
                            <li><a href="{{ path('manSportShoes') }}">Мъжки спортни обувки</a></li>
                        </ul>
                    </div>

                    <!-- Size -->
                    <div class="widget widget__filter-by-size widget--bottom-line">


                    </div>


                </aside> <!-- end sidebar -->

            </div> <!-- end row -->
        </div> <!-- end container -->
    </section> <!-- end catalog -->

    <!-- Footer -->

    <div id="back-to-top">
        <a href="#top"><i class="ui-arrow-up"></i></a>
    </div>

    </main>
{% endblock %}
