{% extends 'base.html.twig' %}


{% block main %}

    <!-- Single Product -->
    <section class="section-wrap pb-20 product-single">
        <div class="container">

            <!-- Breadcrumbs -->
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ path('blog_index') }}">Начало</a>
                </li>
                <li class="active">
                    {{ product.category }}
                </li>
            </ol>

            <div class="row">

                <div class="col-md-6 product-slider mb-50">

                    <div class="flickity flickity-slider-wrap mfp-hover" id="gallery-main">

                        <div class="gallery-cell">
                            <a href="/img/uploaded/{{ product.id }}.0.jpg" class="lightbox-img">
                                <img src="/img/uploaded/{{ product.id }}.0.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="gallery-cell">
                            <a href="/img/uploaded/{{ product.id }}.1.jpg" class="lightbox-img">
                                <img src="/img/uploaded/{{ product.id }}.1.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="gallery-cell">
                            <a href="/img/uploaded/{{ product.id }}.2.jpg" class="lightbox-img">
                                <img src="/img/uploaded/{{ product.id }}.2.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="gallery-cell">
                            <a href="/img/uploaded/{{ product.id }}.3.jpg" class="lightbox-img">
                                <img src="/img/uploaded/{{ product.id }}.3.jpg" alt=""/>
                            </a>
                        </div>

                    </div> <!-- end gallery main -->

                    <div class="gallery-thumbs" id="gallery-thumbs">
                        <div class="gallery-cell">
                            <img src="/img/uploaded/{{ product.id }}.0.jpg" alt=""/>
                        </div>
                        <div class="gallery-cell">
                            <img src="/img/uploaded/{{ product.id }}.1.jpg" alt=""/>
                        </div>
                        <div class="gallery-cell">
                            <img src="/img/uploaded/{{ product.id }}.2.jpg" alt=""/>
                        </div>
                        <div class="gallery-cell">
                            <img src="/img/uploaded/{{ product.id }}.3.jpg" alt=""/>
                        </div>
                    </div> <!-- end gallery thumbs -->

                </div> <!-- end col img slider -->

                <div class="col-md-6 product-single">
                    <h1 class="product-single__title uppercase">{{ product.title }}</h1>

                    <span class="product-single__price">
                        {% if product.discount is empty %}
                            <ins>
                <span class="amount">{{ product.price }} лв.</span>
              </ins>
                        {% else %}
                            <ins>
                <span class="amount" style="color: red">{{ product.price }} лв.</span>
              </ins>
                            <del>
                <span>{{ product.discount }} лв.</span>
              </del>
                        {% endif %}
            </span>
                    <form action="{{ path('singleProduct', { 'id':product.id} )}}" method="post" id="sendSubmitForBuying">
                    <div class="colors clearfix">
                        <span class="colors__label">Цвят: <span
                                    class="colors__label-selected">{{ product.color }}</span></span>
                    </div>

                    <div class="size-quantity clearfix">
                        <div class="size">
                            <label>Налични номера</label>
                            <br>
                            <label style="display: none; color: red" id="warningSize">Изберете номер</label>
                            <select name="size__select" id="size__select" class="size__select">
                                <option value="Избери..." selected>Избери...</option>
                                {% for siz in size %}
                                    <option value="{{ siz }}">{{ siz }}</option>
                                {% endfor %}
                            </select>
                        </div>


                    </div>

                    <div class="row row-10 product-single__actions clearfix">
                        <div class="col">
                            <div class="form-row place-order">
                                    <input type="submit"
                                           class="btn btn-lg btn-color btn-button" value="КУПИ">
                            </div>
                        </div>

                    </div>

                    <div class="product_meta">
                        <ul>
                            <li>
                                <span class="product-code">Номер на модела: <span>{{ product.modelNumber }}</span></span>
                            </li>
                            <li>
                                <span class="product-country">Държава: <span>Произведено в България</span></span>
                            </li>
                        </ul>
                    </div>
                    </form>
                    <!-- Accordion -->
                    <div class="accordion mb-50" id="accordion">
                        <div class="accordion__panel">
                            <div class="accordion__heading" id="headingOne">
                                <a data-toggle="collapse" href="#collapseOne" class="accordion__link accordion--is-open"
                                   aria-expanded="true" aria-controls="collapseOne">Описание<span
                                            class="accordion__toggle">&nbsp;</span>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" data-parent="#accordion" role="tabpanel"
                                 aria-labelledby="headingOne">
                                <div class="accordion__body">
                                    {{ product.description }}
                                </div>
                            </div>
                        </div>


                    </div> <!-- end col product description -->
                </div> <!-- end row -->
            </div>
        </div> <!-- end container -->
    </section> <!-- end single product -->


    <!-- Related Products -->
    <section class="section-wrap pt-0 pb-40">
        <div class="container">

            <div class="heading-row">
                <div class="text-center">
                    <h2 class="heading bottom-line">
                        ПОДОБНИ
                    </h2>
                </div>
            </div>

            <div class="row row-8">
                {% for shoes in similar %}
                    <div class="col-lg-2 col-sm-4 product">
                        <div class="product__img-holder">
                            <a href="{{ path('singleProduct',{ 'id':shoes.id}) }}" class="product__link">
                                <img src="/img/uploaded/{{ shoes.id }}.0.jpg" alt="" class="product__img">
                            </a>
                        </div>

                        <div class="product__details">
                            <h3 class="product__title">
                                <a href="{{ path('singleProduct',{ 'id':shoes.id}) }}">{{ shoes.title }}</a>
                            </h3>
                        </div>

                        <span class="product__price">
              {% if shoes.discount is empty %}
                  <ins>
                                <span class="amount">{{ shoes.price }}</span>
                            </ins>
                        {% else %}

                  <ins>
                <span class="amount" style="color: red">{{ shoes.price }} лв.</span>
              </ins>
                  <del>
                <span>{{ shoes.discount }} лв.</span>
              </del>

              {% endif %}
            </span>
                    </div> <!-- end product -->
                {% endfor %}
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
{% endblock %}