<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

		<title>
			{% block title %}{% endblock %}
		</title>

		<meta name="keywords" content="HTML5 Template"/>
		<meta name="description" content="Riode - Ultimate eCommerce Template">
		<meta
		name="author" content="D-THEMES">

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="/assets/assets/images/icons/favicon.png">

		<script>
			WebFontConfig = {
google: {
families: ['Poppins:400,500,600,700,800,900']
}
};
(function (d) {
var wf = d.createElement('script'),
s = d.scripts[0];
wf.src = '/assets/js/webfont.js';
wf.async = true;
s.parentNode.insertBefore(wf, s);
})(document);
		</script>


		<link rel="stylesheet" type="text/css" href="{{ asset('/assets/vendor/fontawesome-free/css/all.min.css')}}">
		<link
		rel="stylesheet" type="text/css" href="{{ asset('/assets/vendor/animate/animate.min.css')}}">

		<!-- Plugins CSS File -->
		<link rel="stylesheet" type="text/css" href="{{ asset('/assets/vendor/magnific-popup/magnific-popup.min.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ asset('/assets/vendor/owl-carousel/owl.carousel.min.css')}}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

		<link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/style.min.css')}}"> {% block stylesheets %}{% endblock %}
		<link rel="stylesheet" type="text/css" href="{{ asset('/assets/css/demo1.min.css')}}">


	</head>

	<body class="home">

		<div class="page-wrapper">
			<header class="header">
				<div class="header-top">
					<div class="container">
						<div class="header-left">
							<p class="welcome-msg">Добре дошли в нашия онлайн магазин.</p>
						</div>
						<div class="header-right">
							<div class="">
								<a href="#currency">BGN</a>
							</div>
							<!-- End DropDown Menu -->
							<div class=" ml-5">
								<a href="#language">БГ</a>
							</div>
							<!-- End DropDown Menu -->
							<span class="divider"></span>
							<a href="/contact" class="contact d-lg-show">
								<i class="d-icon-map"></i>Контакти</a>
							<a href="#" class="help d-lg-show">
								<i class="d-icon-info"></i>
								Помощ</a>

							<!-- End of Login -->
						</div>
					</div>
				</div>
				<!-- End HeaderTop -->
				<div class="header-middle sticky-header fix-top sticky-content">
					<div class="container">
						<div class="header-left">
							<a href="#" class="mobile-menu-toggle">
								<i class="d-icon-bars2"></i>
							</a>
							<a href="/" class="logo">
								<img src="/assets/images/logo.png" alt="logo" width="153" height="44"/>
							</a>
							<!-- End Logo -->

							<div class="header-search hs-simple">
								<form action="#" class="input-wrapper">
									<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Търсене..." required/>
									<button class="btn btn-search" type="submit" title="submit-button">
										<i class="d-icon-search"></i>
									</button>
								</form>
							</div>
							<!-- End Header Search -->
						</div>
						<div class="header-right">
							<a href="tel:+359892609802" class="icon-box icon-box-side">
								<div class="icon-box-icon mr-0 mr-lg-2">
									<i class="d-icon-phone"></i>
								</div>
								<div class="icon-box-content d-lg-show">
									<h4 class="icon-box-title">Телефон:</h4>
									<p>+359 892 6098 02</p>
								</div>
							</a>
							<span class="divider"></span>
							<div class=" wishlist off-canvas">
								<a href="wishlist.html" class="wishlist-toggle">
									<i class="d-icon-heart"></i>
								</a>
							</div>
							<span class="divider"></span>
							<div class="dropdown cart-dropdown type2 off-canvas mr-0 mr-lg-2" id='card'>
								<a href="#" class="cart-toggle label-block link">

									<div class="cart-label d-lg-show">
										<span class="cart-name">Количка:</span>
										<span class="cart-price" id='cartTotal'>0.00 лв.</span>
									</div>
									<i class="d-icon-bag">
										<span class="cart-count" id='cartCount'>2</span>
									</i>
								</a>
								<div class="canvas-overlay"></div>
								<!-- End Cart Toggle -->
								<div class="dropdown-box" id='cart'></div>
								<!-- End Dropdown Box -->
							</div>
						</div>
					</div>
				</div>

				<div class="header-bottom d-lg-show">
					<div class="container">
						<div class="header-left">
							<nav class="main-nav">
								<ul class="menu">
									<li class="active">
										<a href="/">Начало</a>
									</li>
									<!-- End of Dropdown -->
									<li>
										<a href="#">Мъжки</a>
										<ul>
											<li><a href="/catalog/manCasual">Ежедневни</a></li>
											<li><a href="/catalog/manOfficial">Официални</a></li>
											<li><a href="/catalog/manBoots">Боти</a></li>

										</ul>
									</li>
									<!-- End of Dropdown -->
									<li>
										<a href="#">Дамски</a>
										<ul>
											<li><a href="/catalog/womenSport">Сникърси</a></li>
											<li><a href="/catalog/womenCasual">Ежедневни</a></li>
											<li><a href="/catalog/womenOfficial">Официални</a></li>
											<li><a href="/catalog/boots">Боти</a></li>
											<li><a href="/catalog/sandals">Сандали</a></li>

										</ul>
									</li>
									<li>
										<a href="#">Детски</a>
										<ul>
											<li><a href="/catalog/childrenBoots">Боти и ботуши</a></li>

										</ul>
									</li>

									<li>
										<a href="/catalog/sale" style="color: red">НАМАЛЕНИЕ</a>

									</li>
									{% if is_granted('ROLE_ADMIN') %}
										<li>
											<a href="#">АДМИН ПАНЕЛ</a>
											<ul>
												<li><a href="/addProduct">Добавяне на нов продукт</a></li>
												<li><a href="/seeOrders/new">Поръчки</a></li>
											</ul>
										</li>
									{% endif %}
								</ul>
							</nav>
						</div>
						<div class="header-right">
							<a href="#">
								<i class="d-icon-card"></i>Special Offers</a>
							<a href="https://d-themes.com/buynow/riodehtml" class="ml-6">Buy Riode!</a>
						</div>
					</div>
				</div>
			</header>


			<!-- End of Header -->
			{% block body %}

				{% block main %}{% endblock %}

			{% endblock %}
			<!-- End of Main -->

			<footer class="footer appear-animate" data-animation-options="{ 'delay': '.2s' }">
				<div class="footer-middle">
					<div class="container">
						<div class="row">
							<div class="col-lg-3 col-sm-6">
								<div class="widget widget-about">
									<a href="/" class="logo-footer mb-5">
										<img src="/assets/images/demos/demo7/footer-logo.png" alt="logo-footer" width="154" height="43"/>
									</a>
									<div class="widget-body">
										<p>SVIK Shoes е български производител на първокачествени обувки от напълно естествени материали.</p>
										<a href="mailto:obuvkisvik@gmail.com">obuvkisvik@gmail.com</a>
									</div>
								</div>
								<!-- End of Widget -->
							</div>
							<div class="col-lg-3 col-sm-6">
								<div class="widget">
									<h4 class="widget-title">За клиента</h4>
									<ul class="widget-body">
										<li>
											<a href="/coockiesPolicy">Политика за бисквитки</a>
										</li>
										<li>
											<a href="/about">За нас</a>
										</li>
										<li>
											<a href="/contact">Контакти</a>
										</li>

									</ul>
								</div>
								<!-- End of Widget -->
							</div>
							<div class="col-lg-2 col-sm-6">
								<div class="widget mb-6 mb-sm-0">
									<h4 class="widget-title">Категории</h4>
									<ul class="widget-body">
										<li>
											<a href="/catalog/womenSport">Дамски сникърси</a>
										</li>
										<li>
											<a href="/catalog/womenCasual">Дамски ежедневни</a>
										</li>
										<li>
											<a href="/catalog/womenOfficial">Дамски официални</a>
										</li>
										<li>
											<a href="/catalog/boots">Дамски боти и ботуши</a>
										</li>
										<li>
											<a href="/catalog/sandals">Дамски сандали</a>
										</li>
										<li>
											<a href="/catalog/sale">Намаления</a>
										</li>
									</ul>
								</div>
								<!-- End of Widget -->
							</div>
							<div class="col-lg-4 col-sm-6">
								<div class="widget">
									<h4 class="widget-title text-normal">Абонирайте се за нашия бюлетин</h4>
									<div class="widget-body widget-newsletter">
										<form action="#" class="input-wrapper input-wrapper-inline">
											<input type="email" class="form-control" name="email" id="email" placeholder="Въведете вашие имейл..." required/>
											<button class="btn btn-primary btn-sm btn-icon-right btn-rounded" type="submit">абонирам се<i class="d-icon-arrow-right"></i>
											</button>
										</form>
									</div>
								</div>
								<div class="footer-info">
									<div class="social-links">
										<a href="https://www.facebook.com/svik.hit" class="social-link social-facebook fab fa-facebook-f"></a>
										<a href="https://www.instagram.com/svik_shoes/" class="social-link social-instagram fab fa-instagram"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of FooterMiddle -->
				<div class="footer-bottom d-block text-center">
					<p class="copyright">SVIK Shoes &copy; 2022. Всички права запазени.</p>
				</div>
				<!-- End of FooterBottom -->
			</footer>
			<!-- End of Footer -->
		</div>

		<!-- Sticky Footer -->
		<div class="sticky-footer sticky-content fix-bottom">
			<a href="/" class="sticky-link active">
				<i class="d-icon-home"></i>
				<span>НАЧАЛО</span>
			</a>
			<a href="/catalog/sale" class="sticky-link">
				<i class="d-icon-volume"></i>
				<span>НАМАЛЕНИЯ</span>
			</a>
			<a href="/shoppingCart" class="sticky-link">
				<i class="d-icon-heart"></i>
				<span>КОЛИЧКА</span>
			</a>

			<div class="header-search hs-toggle dir-up">
				<a href="#" class="search-toggle sticky-link">
					<i class="d-icon-search"></i>
					<span>Търсене</span>
				</a>
				<form action="#" class="input-wrapper">
					<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search your keyword..." required/>
					<button class="btn btn-search" type="submit">
						<i class="d-icon-search"></i>
					</button>
				</form>
			</div>
		</div>

		<!-- Scroll Top -->
		<a id="scroll-top" href="#top" title="Top" role="button" class="scroll-top">
			<i class="d-icon-arrow-up"></i>
		</a>

		<!-- MobileMenu -->
		<div class="mobile-menu-wrapper">
			<div class="mobile-menu-overlay"></div>
			<!-- End of Overlay -->
			<a class="mobile-menu-close" href="#">
				<i class="d-icon-times"></i>
			</a>
			<!-- End of CloseButton -->
			<div class="mobile-menu-container scrollable">
				<form action="#" class="input-wrapper">
					<input type="text" class="form-control" name="search" autocomplete="off" placeholder="Search your keyword..." required/>
					<button class="btn btn-search" type="submit">
						<i class="d-icon-search"></i>
					</button>
				</form>
				<!-- End of Search Form -->
				<ul class="mobile-menu mmenu-anim">
					<li>
						<a href="/">Начало</a>
					</li>
					<li>
						<a href="#">Дамски</a>
						<ul>
							<li><a href="/catalog/womenSport">Сникърси</a></li>
							<li><a href="/catalog/womenCasual">Ежедневни</a></li>
							<li><a href="/catalog/womenOfficial">Официални</a></li>
							<li><a href="/catalog/boots">Боти</a></li>
							<li><a href="/catalog/sandals">Сандали</a></li>

						</ul>
					</li>
					<li>
						<a href="#">Мъжки</a>
						<ul>
							<li><a href="/catalog/manCasual">Ежедневни</a></li>
							<li><a href="/catalog/manOfficial">Официални</a></li>
							<li><a href="/catalog/manBoots">Боти</a></li>

						</ul>
					</li>
					<li>
						<a href="#">Детски</a>
						<ul>
							<li><a href="/catalog/childrenBoots">Боти и ботуши</a></li>

						</ul>
					</li>
					<li>
						<a href="/catalog/sale" style="color: red">НАМАЛЕНИЕ</a>

					</li>


				</ul>
				<!-- End of MobileMenu -->
			</div>
		</div>

		<script src="{{ asset('/assets/vendor/jquery/jquery.min.js')}}"></script>
		<script src="{{ asset('/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js')}}"></script>
		<script src="{{ asset('/assets/vendor/elevatezoom/jquery.elevatezoom.min.js')}}"></script>
		<script src="{{ asset('/assets/vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

		<script src="{{ asset('/assets/vendor/owl-carousel/owl.carousel.min.js')}}"></script>
		<script src="{{ asset('/assets/vendor/jquery.plugin/jquery.plugin.min.js')}}"></script>
		<script src="{{ asset('/assets/vendor/jquery.countdown/jquery.countdown.min.js')}}"></script>
		<!-- Main JS File -->

		<script src="{{ asset('/assets/js/main.min.js')}}"></script>
		<script src="{{ asset('/assets/bootstrap/js/bootstrap.min.js')}}"></script>
		<script src="{{ asset('/assets/js/custom-main.js')}}"></script>

		{% block javascripts %}{% endblock %}
		<script>


			function myFunction() {
$('#modal').show();
}
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();

reader.onload = function (e) {
$('#blah').attr('src', e.target.result);
};

reader.readAsDataURL(input.files[0]);
}
}
		</script>
	</body>

</html>

