{% extends 'base.html.twig' %}


{% block main %}
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="assets/img/hero/category.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Моята информация</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="checkout_area section_padding">
        <div class="container">

            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Моята информация</h3>
                        <form class="row contact_form" action="{{ path('myInformation') }}" method="post" novalidate="novalidate" id="changeInfo">
                            <div class="col-md-6 form-group p_star">
                                <label style="display: none; color: red" id="changeInfoNameWarning">*Това поле е задължително</label>
                                <input type="text" value="{{ user.name }}"   class="form-control" id="changeInfoName" name="changeinfo[name]" />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label style="display: none; color: red" id="changeInfoSurnameWarning">*Това поле е задължително</label>
                                <input type="text" class="form-control" id="changeInfoSurname" name="changeinfo[surname]" value="{{ user.surname }}"  />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label style="display: none; color: red" id="changeInfoPhoneWarningInvalid">*Невалиден телефонен номер</label>
                                <input type="text" class="form-control" placeholder="Телефон" id="changeInfoPhone" name="changeinfo[phone]"  value="{{ user.phone }}"/>
                            </div>
                            <div class="col-md-6 form-group p_star">

                                <input type="text" class="form-control" id="email"  value="{{ user.email }}" disabled name="compemailany" />
                            </div>
                            <div class="col-md-12 form-group p_star">

                                <select class="country_select" name="changeinfo[populatedPlace]" >

                                    {% if  user.populatedPlace is empty %}
                                        <option selected="selected">Град\село...</option>
                                    {% else %}
                                        <option selected="selected">{{ user.populatedPlace }}</option>
                                    {% endif %}

                                    <option id="2932">Абланица</option>
                                    <option id="7538">Айдемир</option>
                                    <option id="8500">Айтос</option>
                                    <option id="9154">Аксаково</option>
                                    <option id="6750">Ардино</option>
                                    <option id="4230">Асеновград</option>
                                    <option id="8217">Ахелой</option>
                                    <option id="9600">Балчик</option>
                                    <option id="1320">Банкя</option>
                                    <option id="2770">Банско</option>
                                    <option id="5930">Белене</option>
                                    <option id="4470">Белово</option>
                                    <option id="3900">Белоградчик</option>
                                    <option id="4130">Белозем</option>
                                    <option id="9178">Белослав</option>
                                    <option id="3500">Берковица</option>
                                    <option id="2700">Благоевград</option>
                                    <option id="2660">Бобошево</option>
                                    <option id="2227">Божурище</option>
                                    <option id="2140">Ботевград</option>
                                    <option id="3790">Брегово</option>
                                    <option id="2360">Брезник</option>
                                    <option id="8000">Бургас</option>
                                    <option id="3200">Бяла Слатина</option>
                                    <option id="9101">Бяла, Варненско</option>
                                    <option id="7100">Бяла, Русенско</option>
                                    <option id="9000">Варна</option>
                                    <option id="9850">Велики Преслав</option>
                                    <option id="5000">Велико Търново</option>
                                    <option id="4600">Велинград</option>
                                    <option id="7080">Ветово</option>
                                    <option id="3700">Видин</option>
                                    <option id="3000">Враца</option>
                                    <option id="2930">Вълкосел</option>
                                    <option id="3650">Вълчедръм</option>
                                    <option id="9280">Вълчи Дол</option>
                                    <option id="9870">Върбица</option>
                                    <option id="3540">Вършец</option>
                                    <option id="5300">Габрово</option>
                                    <option id="9500">Генерал Тошево</option>
                                    <option id="7630">Главиница</option>
                                    <option id="7040">Глоджево</option>
                                    <option id="3327">Гложене</option>
                                    <option id="5100">Горна Оряховица</option>
                                    <option id="2900">Гоце Делчев</option>
                                    <option id="8990">Градец</option>
                                    <option id="6280">Гълъбово</option>
                                    <option id="7150">Две Могили</option>
                                    <option id="4800">Девин</option>
                                    <option id="9160">Девня</option>
                                    <option id="6850">Джебел</option>
                                    <option id="6400">Димитровград</option>
                                    <option id="2777">Добринище</option>
                                    <option id="9300">Добрич</option>
                                    <option id="5855">Долна Митрополия</option>
                                    <option id="5130">Долна Оряховица</option>
                                    <option id="5870">Долни Дъбник</option>
                                    <option id="9120">Долни Чифлик</option>
                                    <option id="4641">Дорково</option>
                                    <option id="4831">Доспат</option>
                                    <option id="2210">Драгоман</option>
                                    <option id="5370">Дряново</option>
                                    <option id="7650">Дулово</option>
                                    <option id="2600">Дупница</option>
                                    <option id="9168">Езерово</option>
                                    <option id="5070">Елена</option>
                                    <option id="2100">Елин Пелин</option>
                                    <option id="8700">Елхово</option>
                                    <option id="2180">Етрополе</option>
                                    <option id="8988">Жеравна</option>
                                    <option id="2080">Златица</option>
                                    <option id="4980">Златоград</option>
                                    <option id="6570">Ивайловград</option>
                                    <option id="9143">Игнатиево</option>
                                    <option id="7400">Исперих</option>
                                    <option id="2050">Ихтиман</option>
                                    <option id="8210">Каблешково</option>
                                    <option id="9650">Каварна</option>
                                    <option id="6100">Казанлък</option>
                                    <option id="1532">Казичене</option>
                                    <option id="7539">Калипетрово</option>
                                    <option id="4370">Калофер</option>
                                    <option id="4173">Калояново</option>
                                    <option id="8120">Камено</option>
                                    <option id="4300">Карлово</option>
                                    <option id="8400">Карнобат</option>
                                    <option id="6884">Кирково</option>
                                    <option id="5835">Кнежа</option>
                                    <option id="3320">Козлодуй</option>
                                    <option id="4644">Костандово</option>
                                    <option id="2030">Костенец</option>
                                    <option id="2230">Костинброд</option>
                                    <option id="8970">Котел</option>
                                    <option id="2640">Кочериново</option>
                                    <option id="4220">Кричим</option>
                                    <option id="6900">Крумовград</option>
                                    <option id="7300">Кубрат</option>
                                    <option id="4101">Куклен</option>
                                    <option id="6600">Кърджали</option>
                                    <option id="2500">Кюстендил</option>
                                    <option id="5900">Левски</option>
                                    <option id="5500">Ловеч</option>
                                    <option id="1151">Лозен</option>
                                    <option id="8277">Лозенец</option>
                                    <option id="7290">Лозница</option>
                                    <option id="3600">Лом</option>
                                    <option id="5770">Луковит</option>
                                    <option id="6550">Любимец</option>
                                    <option id="5140">Лясковец</option>
                                    <option id="4900">Мадан</option>
                                    <option id="7058">Мартен</option>
                                    <option id="3100">Мездра</option>
                                    <option id="3330">Мизия</option>
                                    <option id="6800">Момчилград</option>
                                    <option id="3400">Монтана</option>
                                    <option id="8230">Несебър</option>
                                    <option id="8900">Нова Загора</option>
                                    <option id="1280">Нови Искър</option>
                                    <option id="9900">Нови Пазар</option>
                                    <option id="8250">Обзор</option>
                                    <option id="3300">Оряхово</option>
                                    <option id="6155">Павел Баня</option>
                                    <option id="5200">Павликени</option>
                                    <option id="4400">Пазарджик</option>
                                    <option id="4500">Панагюрище</option>
                                    <option id="2300">Перник</option>
                                    <option id="4225">Перущица</option>
                                    <option id="2850">Петрич</option>
                                    <option id="4550">Пещера</option>
                                    <option id="2070">Пирдоп</option>
                                    <option id="5800">Плевен</option>
                                    <option id="4000">Пловдив</option>
                                    <option id="5180">Полски Тръмбеш</option>
                                    <option id="8200">Поморие</option>
                                    <option id="7800">Попово</option>
                                    <option id="2161">Правец</option>
                                    <option id="8290">Приморско</option>
                                    <option id="9200">Провадия</option>
                                    <option id="4270">Първомай</option>
                                    <option id="8238">Равда</option>
                                    <option id="6260">Раднево</option>
                                    <option id="2400">Радомир</option>
                                    <option id="7200">Разград</option>
                                    <option id="2760">Разлог</option>
                                    <option id="4640">Ракитово</option>
                                    <option id="4150">Раковски</option>
                                    <option id="2630">Рила</option>
                                    <option id="4960">Рудозем</option>
                                    <option id="7000">Русе</option>
                                    <option id="2000">Самоков</option>
                                    <option id="2800">Сандански</option>
                                    <option id="2650">Сапарева Баня</option>
                                    <option id="2950">Сатовча</option>
                                    <option id="8256">Свети Влас</option>
                                    <option id="6500">Свиленград</option>
                                    <option id="5250">Свищов</option>
                                    <option id="2260">Своге</option>
                                    <option id="5400">Севлиево</option>
                                    <option id="4490">Септември</option>
                                    <option id="7500">Силистра</option>
                                    <option id="6490">Симеоновград</option>
                                    <option id="2730">Симитли</option>
                                    <option id="8800">Сливен</option>
                                    <option id="2200">Сливница</option>
                                    <option id="7060">Сливо Поле</option>
                                    <option id="8240">Слънчев Бряг</option>
                                    <option id="4700">Смолян</option>
                                    <option id="8130">Созопол</option>
                                    <option id="4330">Сопот</option>
                                    <option id="1000">София</option>
                                    <option id="8300">Средец</option>
                                    <option id="4210">Стамболийски</option>
                                    <option id="6000">Стара Загора</option>
                                    <option id="5150">Стражица</option>
                                    <option id="8680">Стралджа</option>
                                    <option id="4530">Стрелча</option>
                                    <option id="9170">Суворово</option>
                                    <option id="4190">Съединение</option>
                                    <option id="4633">Сърница</option>
                                    <option id="8890">Твърдица</option>
                                    <option id="9450">Тервел</option>
                                    <option id="5700">Тетевен</option>
                                    <option id="6560">Тополовград</option>
                                    <option id="5600">Троян</option>
                                    <option id="4199">Труд</option>
                                    <option id="5350">Трявна</option>
                                    <option id="7600">Тутракан</option>
                                    <option id="7700">Търговище</option>
                                    <option id="5580">Угърчин</option>
                                    <option id="6450">Харманли</option>
                                    <option id="6300">Хасково</option>
                                    <option id="4180">Хисаря</option>
                                    <option id="8260">Царево</option>
                                    <option id="4850">Чепеларе</option>
                                    <option id="5980">Червен Бряг</option>
                                    <option id="7051">Червена Вода</option>
                                    <option id="6200">Чирпан</option>
                                    <option id="9700">Шумен</option>
                                    <option id="7078">Щръклево</option>
                                    <option id="8989">Ябланово</option>
                                    <option id="2790">Якоруда</option>
                                    <option id="8600">Ямбол</option>

                                </select>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="changeinfo[address]" placeholder="Адрес" value="{{ user.address }}">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <button type="submit" value="submit" class="btn_3">
                                    Редактирай
                                </button>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

{% endblock %}