{% extends 'base.html.twig' %}


{% block main %}

    <!--<section class="checkout_area section_padding">
        <div class="container">

                <div class="row">
                    <div class="col-lg-12">

                        <h2 class="text-center" style="padding: 50px">Моята информация</h2>

                        <form class="row contact_form" action="{{ path('myInformation') }}" method="post" novalidate="novalidate" id="changeInfo">
                            <div class="col-md-6 form-group p_star">
                                <label style="display: none; color: red" id="changeInfoNameWarning">*Това поле е задължително</label>
                                <input type="text" value="{{ user.name }}"   class="form-control" id="changeInfoName" name="changeinfo[name]" />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label style="display: none; color: red" id="changeInfoSurnameWarning">*Това поле е задължително</label>
                                <input type="text" class="form-control" id="changeInfoSurname" name="changeinfo[surname]" value="{{ user.surname }}"  />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <label style="display: none; color: red" id="changeInfoPhoneWarningInvalid">*Невалиден телефонен номер</label>
                                <input type="text" class="form-control" placeholder="Телефон" id="changeInfoPhone" name="changeinfo[phone]"  value="{{ user.phone }}"/>
                            </div>
                            <div class="col-md-6 form-group p_star">

                                <input type="text" class="form-control" id="email"  value="{{ user.email }}" disabled name="compemailany" />
                            </div>
                            <div class="col-md-12 form-group p_star">

                                <select class="form-control" name="changeinfo[populatedPlace]" >

                                    {% if  user.populatedPlace is empty %}
                                        <option selected="selected">Град\село...</option>
                                    {% else %}
                                        <option selected="selected">{{ user.populatedPlace }}</option>
                                    {% endif %}

                                    <option id="2932">Абланица</option>
                                    <option id="7538">Айдемир</option>
                                    <option id="8500">Айтос</option>
                                    <option id="9154">Аксаково</option>
                                    <option id="6750">Ардино</option>
                                    <option id="4230">Асеновград</option>
                                    <option id="8217">Ахелой</option>
                                    <option id="9600">Балчик</option>
                                    <option id="1320">Банкя</option>
                                    <option id="2770">Банско</option>
                                    <option id="5930">Белене</option>
                                    <option id="4470">Белово</option>
                                    <option id="3900">Белоградчик</option>
                                    <option id="4130">Белозем</option>
                                    <option id="9178">Белослав</option>
                                    <option id="3500">Берковица</option>
                                    <option id="2700">Благоевград</option>
                                    <option id="2660">Бобошево</option>
                                    <option id="2227">Божурище</option>
                                    <option id="2140">Ботевград</option>
                                    <option id="3790">Брегово</option>
                                    <option id="2360">Брезник</option>
                                    <option id="8000">Бургас</option>
                                    <option id="3200">Бяла Слатина</option>
                                    <option id="9101">Бяла, Варненско</option>
                                    <option id="7100">Бяла, Русенско</option>
                                    <option id="9000">Варна</option>
                                    <option id="9850">Велики Преслав</option>
                                    <option id="5000">Велико Търново</option>
                                    <option id="4600">Велинград</option>
                                    <option id="7080">Ветово</option>
                                    <option id="3700">Видин</option>
                                    <option id="3000">Враца</option>
                                    <option id="2930">Вълкосел</option>
                                    <option id="3650">Вълчедръм</option>
                                    <option id="9280">Вълчи Дол</option>
                                    <option id="9870">Върбица</option>
                                    <option id="3540">Вършец</option>
                                    <option id="5300">Габрово</option>
                                    <option id="9500">Генерал Тошево</option>
                                    <option id="7630">Главиница</option>
                                    <option id="7040">Глоджево</option>
                                    <option id="3327">Гложене</option>
                                    <option id="5100">Горна Оряховица</option>
                                    <option id="2900">Гоце Делчев</option>
                                    <option id="8990">Градец</option>
                                    <option id="6280">Гълъбово</option>
                                    <option id="7150">Две Могили</option>
                                    <option id="4800">Девин</option>
                                    <option id="9160">Девня</option>
                                    <option id="6850">Джебел</option>
                                    <option id="6400">Димитровград</option>
                                    <option id="2777">Добринище</option>
                                    <option id="9300">Добрич</option>
                                    <option id="5855">Долна Митрополия</option>
                                    <option id="5130">Долна Оряховица</option>
                                    <option id="5870">Долни Дъбник</option>
                                    <option id="9120">Долни Чифлик</option>
                                    <option id="4641">Дорково</option>
                                    <option id="4831">Доспат</option>
                                    <option id="2210">Драгоман</option>
                                    <option id="5370">Дряново</option>
                                    <option id="7650">Дулово</option>
                                    <option id="2600">Дупница</option>
                                    <option id="9168">Езерово</option>
                                    <option id="5070">Елена</option>
                                    <option id="2100">Елин Пелин</option>
                                    <option id="8700">Елхово</option>
                                    <option id="2180">Етрополе</option>
                                    <option id="8988">Жеравна</option>
                                    <option id="2080">Златица</option>
                                    <option id="4980">Златоград</option>
                                    <option id="6570">Ивайловград</option>
                                    <option id="9143">Игнатиево</option>
                                    <option id="7400">Исперих</option>
                                    <option id="2050">Ихтиман</option>
                                    <option id="8210">Каблешково</option>
                                    <option id="9650">Каварна</option>
                                    <option id="6100">Казанлък</option>
                                    <option id="1532">Казичене</option>
                                    <option id="7539">Калипетрово</option>
                                    <option id="4370">Калофер</option>
                                    <option id="4173">Калояново</option>
                                    <option id="8120">Камено</option>
                                    <option id="4300">Карлово</option>
                                    <option id="8400">Карнобат</option>
                                    <option id="6884">Кирково</option>
                                    <option id="5835">Кнежа</option>
                                    <option id="3320">Козлодуй</option>
                                    <option id="4644">Костандово</option>
                                    <option id="2030">Костенец</option>
                                    <option id="2230">Костинброд</option>
                                    <option id="8970">Котел</option>
                                    <option id="2640">Кочериново</option>
                                    <option id="4220">Кричим</option>
                                    <option id="6900">Крумовград</option>
                                    <option id="7300">Кубрат</option>
                                    <option id="4101">Куклен</option>
                                    <option id="6600">Кърджали</option>
                                    <option id="2500">Кюстендил</option>
                                    <option id="5900">Левски</option>
                                    <option id="5500">Ловеч</option>
                                    <option id="1151">Лозен</option>
                                    <option id="8277">Лозенец</option>
                                    <option id="7290">Лозница</option>
                                    <option id="3600">Лом</option>
                                    <option id="5770">Луковит</option>
                                    <option id="6550">Любимец</option>
                                    <option id="5140">Лясковец</option>
                                    <option id="4900">Мадан</option>
                                    <option id="7058">Мартен</option>
                                    <option id="3100">Мездра</option>
                                    <option id="3330">Мизия</option>
                                    <option id="6800">Момчилград</option>
                                    <option id="3400">Монтана</option>
                                    <option id="8230">Несебър</option>
                                    <option id="8900">Нова Загора</option>
                                    <option id="1280">Нови Искър</option>
                                    <option id="9900">Нови Пазар</option>
                                    <option id="8250">Обзор</option>
                                    <option id="3300">Оряхово</option>
                                    <option id="6155">Павел Баня</option>
                                    <option id="5200">Павликени</option>
                                    <option id="4400">Пазарджик</option>
                                    <option id="4500">Панагюрище</option>
                                    <option id="2300">Перник</option>
                                    <option id="4225">Перущица</option>
                                    <option id="2850">Петрич</option>
                                    <option id="4550">Пещера</option>
                                    <option id="2070">Пирдоп</option>
                                    <option id="5800">Плевен</option>
                                    <option id="4000">Пловдив</option>
                                    <option id="5180">Полски Тръмбеш</option>
                                    <option id="8200">Поморие</option>
                                    <option id="7800">Попово</option>
                                    <option id="2161">Правец</option>
                                    <option id="8290">Приморско</option>
                                    <option id="9200">Провадия</option>
                                    <option id="4270">Първомай</option>
                                    <option id="8238">Равда</option>
                                    <option id="6260">Раднево</option>
                                    <option id="2400">Радомир</option>
                                    <option id="7200">Разград</option>
                                    <option id="2760">Разлог</option>
                                    <option id="4640">Ракитово</option>
                                    <option id="4150">Раковски</option>
                                    <option id="2630">Рила</option>
                                    <option id="4960">Рудозем</option>
                                    <option id="7000">Русе</option>
                                    <option id="2000">Самоков</option>
                                    <option id="2800">Сандански</option>
                                    <option id="2650">Сапарева Баня</option>
                                    <option id="2950">Сатовча</option>
                                    <option id="8256">Свети Влас</option>
                                    <option id="6500">Свиленград</option>
                                    <option id="5250">Свищов</option>
                                    <option id="2260">Своге</option>
                                    <option id="5400">Севлиево</option>
                                    <option id="4490">Септември</option>
                                    <option id="7500">Силистра</option>
                                    <option id="6490">Симеоновград</option>
                                    <option id="2730">Симитли</option>
                                    <option id="8800">Сливен</option>
                                    <option id="2200">Сливница</option>
                                    <option id="7060">Сливо Поле</option>
                                    <option id="8240">Слънчев Бряг</option>
                                    <option id="4700">Смолян</option>
                                    <option id="8130">Созопол</option>
                                    <option id="4330">Сопот</option>
                                    <option id="1000">София</option>
                                    <option id="8300">Средец</option>
                                    <option id="4210">Стамболийски</option>
                                    <option id="6000">Стара Загора</option>
                                    <option id="5150">Стражица</option>
                                    <option id="8680">Стралджа</option>
                                    <option id="4530">Стрелча</option>
                                    <option id="9170">Суворово</option>
                                    <option id="4190">Съединение</option>
                                    <option id="4633">Сърница</option>
                                    <option id="8890">Твърдица</option>
                                    <option id="9450">Тервел</option>
                                    <option id="5700">Тетевен</option>
                                    <option id="6560">Тополовград</option>
                                    <option id="5600">Троян</option>
                                    <option id="4199">Труд</option>
                                    <option id="5350">Трявна</option>
                                    <option id="7600">Тутракан</option>
                                    <option id="7700">Търговище</option>
                                    <option id="5580">Угърчин</option>
                                    <option id="6450">Харманли</option>
                                    <option id="6300">Хасково</option>
                                    <option id="4180">Хисаря</option>
                                    <option id="8260">Царево</option>
                                    <option id="4850">Чепеларе</option>
                                    <option id="5980">Червен Бряг</option>
                                    <option id="7051">Червена Вода</option>
                                    <option id="6200">Чирпан</option>
                                    <option id="9700">Шумен</option>
                                    <option id="7078">Щръклево</option>
                                    <option id="8989">Ябланово</option>
                                    <option id="2790">Якоруда</option>
                                    <option id="8600">Ямбол</option>

                                </select>
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="add1" name="changeinfo[address]" placeholder="Адрес" value="{{ user.address }}">
                            </div>
                            <div class="d-flex p-2">
                               
                                    <div class="form-group" style="text-align: center">
                                        <button class="ps-btn" type="submit" value="submit" class="btn_3">
                                             Редактирай
                                        </button>								
                                    </div>
                            </div>
                            </div>

                        </form>
                    </div>
                </div>
        </div>
    </section>
    -->

    		<main class="main account">
			<nav class="breadcrumb-nav">
				<div class="container">
					<ul class="breadcrumb">
						<li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
						<li>Account</li>
					</ul>
				</div>
			</nav>
			<div class="page-content mt-4 mb-10 pb-6">
				<div class="container">
					<h2 class="title title-center mb-10">My Account</h2>
					<div class="tab tab-vertical gutter-lg">
						<ul class="nav nav-tabs mb-4 col-lg-3 col-md-4" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" href="#dashboard">Dashboard</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#orders">Orders</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#downloads">Downloads</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#address">Address</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#account">Account details</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="login.html">Logout</a>
							</li>
						</ul>
						<div class="tab-content col-lg-9 col-md-8">
							<div class="tab-pane active" id="dashboard">
								<p class="mb-0">
									Hello <span>User</span> (not <span>User</span>? <a href="#"
										class="text-primary">Log out</a>)
								</p>
								<p class="mb-8">
									From your account dashboard you can view your <a href="#orders"
										class="link-to-tab text-primary">recent orders</a>, manage your shipping and billing
										addresses,<br>and edit your password and account details</a>.
								</p>
								<a href="shop.html" class="btn btn-dark btn-rounded">Go To Shop<i class="d-icon-arrow-right"></i></a>
							</div>
							<div class="tab-pane" id="orders">
                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th class="pl-2">Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th class="pr-2">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="order-number"><a href="#">#3596</a></td>
                                            <td class="order-date"><time>February 24, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$900.00 for 5 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="order-number"><a href="#">#3593</a></td>
                                            <td class="order-date"><time>February 21, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$290.00 for 2 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="order-number"><a href="#">#2547</a></td>
                                            <td class="order-date"><time>January 4, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$480.00 for 8 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="order-number"><a href="#">#2549</a></td>
                                            <td class="order-date"><time>January 19, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$680.00 for 5 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="order-number"><a href="#">#4523</a></td>
                                            <td class="order-date"><time>Jun 6, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$564.00 for 3 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                        <tr>
                                            <td class="order-number"><a href="#">#4526</a></td>
                                            <td class="order-date"><time>Jun 19, 2021</time></td>
                                            <td class="order-status"><span>On hold</span></td>
                                            <td class="order-total"><span>$123.00 for 8 items</span></td>
                                            <td class="order-action"><a href="#" class="btn btn-primary btn-link btn-underline">View</a></td>
                                        </tr>
                                    </tbody>
                                </table>
							</div>
							<div class="tab-pane" id="downloads">
								<p class="mb-4 text-body">No downloads available yet.</p>
								<a href="#" class="btn btn-primary btn-link btn-underline">Browser Products<i class="d-icon-arrow-right"></i></a>
							</div>
							<div class="tab-pane" id="address">
								<p class="mb-2">The following addresses will be used on the checkout page by default.
								</p>
								<div class="row">
									<div class="col-sm-6 mb-4">
										<div class="card card-address">
											<div class="card-body">
												<h5 class="card-title text-uppercase">Billing Address</h5>
												<p>John Doe<br>
                                                    Riode Company<br>
                                                    Steven street<br>
                                                    El Carjon, CA 92020
												</p>
												<a href="#" class="btn btn-link btn-secondary btn-underline">Edit <i
														class="far fa-edit"></i></a>
											</div>
										</div>
									</div>
									<div class="col-sm-6 mb-4">
										<div class="card card-address">
											<div class="card-body">
												<h5 class="card-title text-uppercase">Shipping Address</h5>
												<p>You have not set up this type of address yet.</p>
												<a href="#" class="btn btn-link btn-secondary btn-underline">Edit <i
														class="far fa-edit"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="account">
								<form action="#" class="form">
									<div class="row">
										<div class="col-sm-6">
											<label>First Name *</label>
											<input type="text" class="form-control" name="first_name" required="">
										</div>
										<div class="col-sm-6">
											<label>Last Name *</label>
											<input type="text" class="form-control" name="last_name" required="">
										</div>
									</div>

									<label>Display Name *</label>
									<input type="text" class="form-control mb-0" name="display_name" required="">
									<small class="d-block form-text mb-7">This will be how your name will be displayed
										in the account section and in reviews</small>

									<label>Email Address *</label>
									<input type="email" class="form-control" name="email" required="">
                                    <fieldset>
                                        <legend>Password Change</legend>
                                        <label>Current password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="current_password">

                                        <label>New password (leave blank to leave unchanged)</label>
                                        <input type="password" class="form-control" name="new_password">

                                        <label>Confirm new password</label>
                                        <input type="password" class="form-control" name="confirm_password">
                                    </fieldset>

									<button type="submit" class="btn btn-primary">SAVE CHANGES</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>

{% endblock %}