{% extends 'base.html.twig' %}


{% block main %}


    <!--================Checkout Area =================-->
    <section class="checkout_area section_padding">
        <div class="container">

            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-8">
                        <h3>Данни за поръчка</h3>
                        <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                            <div class="col-md-6 form-group p_star">
                                <input type="text" value="{{ order.name }}" disabled  placeholder="Име" class="form-control" id="first" name="name" />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="last" placeholder="Фамилия" name="name" value="{{ order.surname }}" disabled />
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" placeholder="Телефон" id="number" name="number" disabled value="{{ order.phone }}"/>
                            </div>
                            <div class="col-md-6 form-group p_star">
                                <input type="text" class="form-control" id="email" placeholder="Имейл адрес"  value="{{ order.email }}" disabled name="compemailany" />
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="email"  value="{{ order.populatedPlace }}" disabled name="compemailany" />
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" placeholder="Няма зададен Адрес" id="add1" name="add1" value={{ order.address }} disabled />
                            </div>

                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" placeholder="Няма зададен офис на еконт" id="city" name="city" value="{{ order.office }}" disabled/>
                            </div>
                            <textarea class="form-control" name="message" placeholder="Няма зададени допълнителни изисквания" id="message" rows="1" value="{{ order.additionalInfo }}"
                                       disabled></textarea>
                        </form>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Детайли за поръчка</h2>
                            <ul class="list">
                                <li>
                                    <a href="#">Продукт(номер)
                                        <span>Общо</span>

                                    </a>

                                </li>
                                {% set sum=0 %}
                                {% for product in shoppingCart %}
                                    {% set sum=sum+product.price %}
                                    <li>
                                        <a href="#">{{ product.getCartProduct()[0].title }}({{ product.modelSize }})
                                            <span class="middle">{{ product.getCartProduct()[0].price|number_format(2)}} лв <br/>x {{  product.quantity }}</span>
                                            <span class="last">{{ product.price|number_format(2) }} лв</span>
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>
                            <ul class="list list_2">
                                <li>
                                    <a href="#">Заплащане
                                        <span>НАЛОЖЕН ПЛАТЕЖ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Доставка
                                        <span>ПОЕМА СЕ ОТ КЛИЕНТА</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">Общо за поръчка
                                        <span>{{ sum|number_format(2) }} лв</span>
                                    </a>
                                </li>
                            </ul>
                            <ul class="list list_2">
                                <li>
                                    <a href="#">Състояние
                                        {% if order.confirmed==0 %}
                                            <span class="amount" style="color: red">НЕПОТВЪРДЕНА</span>
                                        {% endif %}
                                        {% if order.confirmed==1 and order.newOrArchived==0 %}
                                            <span class="amount" style="color: yellow">НЕИЗПЪЛНЕНА</span>
                                        {% endif %}
                                        {% if order.confirmed==1 and order.newOrArchived==1 %}
                                            <span class="amount" style="color: green">ИЗПЪЛНЕНА</span>
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

{% endblock %}