{% extends 'base.html.twig' %}

{% block title %}Успешна поръчка
{% endblock %}

{% block main %}

	<main class="main order">
		<div class="page-content pt-7 pb-10 mb-10">
			<div class="step-by pr-4 pl-4">
				<h3 class="title title-simple title-step ">
					<a >1. Преглед на количка</a>
				</h3>
				<h3 class="title title-simple title-step ">
					<a >2. Поръчка</a>
				</h3>
				<h3 class="title title-simple title-step active">
					<a href="#">3. Завършена поръчка</a>
				</h3>
			</div>
			<div class="container mt-8">
				<div class="order-message mr-auto ml-auto">
					<div class="icon-box d-inline-flex align-items-center">
						<div class="icon-box-icon mb-0">
							<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve">
								<g>
									<path fill="none" stroke-width="3" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" d="
																					M33.3,3.9c-2.7-1.1-5.6-1.8-8.7-1.8c-12.3,0-22.4,10-22.4,22.4c0,12.3,10,22.4,22.4,22.4c12.3,0,22.4-10,22.4-22.4
																					c0-0.7,0-1.4-0.1-2.1"></path>
									<polyline fill="none" stroke-width="4" stroke-linecap="round" stroke-linejoin="bevel" stroke-miterlimit="10" points="
																					48,6.9 24.4,29.8 17.2,22.3 	"></polyline>
								</g>
							</svg>
						</div>
						<div class="icon-box-content text-left">
							<h5 class="icon-box-title font-weight-bold lh-1 mb-1">Благодарим Ви!</h5>
							<p class="lh-1 ls-m">Вашата поръчка беше приета успешно! Очаквайте обаждане от наш служител за потвърждение на информацията.</p>
						</div>
					</div>
				</div>


				<div class="order-results d-flex justify-content-center">
					<div class="overview-item">
						<span>Номер на поръчка:</span>
						<strong>{{order.id}}</strong>
					</div>
					<div class="overview-item">
						<span>Статус:</span>
						<strong>Обработва се</strong>
					</div>
					<div class="overview-item">
						<span>Дата:</span>
						<strong>{{order.orderOn|date("m/d/Y")}}</strong>
					</div>
					<div class="overview-item">
						<span>Имейл:</span>
						<strong>{{order.email}}</strong>
					</div>
					<div class="overview-item">
						<span>Общо:</span>
						<strong>{{order.price}}</strong>
					</div>
					<div class="overview-item">
						<span>Начин на плащане:</span>
						<strong>Наложен платеж</strong>
					</div>
				</div>
                <input type="hidden" value="{{order.orderJson}}" id='orderJson'>
				<h2 class="title title-simple text-left pt-4 font-weight-bold text-uppercase">Детайли за поръчка</h2>
				<div class="order-details">
					<table class="order-details-table">
						<thead>
							<tr class="summary-subtotal">
								<td>
									<h3 class="summary-subtitle">Продукти</h3>
								</td>
								<td></td>
							</tr>
						</thead>
						<tbody id="orderContent">
							
						</tbody>
					</table>
				</div>
				<h2 class="title title-simple text-left pt-10 mb-2">Детайли за доставка</h2>
				<div class="address-info pb-8 mb-6">
					<p class="address-detail pb-2">
						Име {{order.name}} {{order.surname}}<br>
						Град/село: {{order.populatedPlace}}<br>
                        Доставчик: {{ order.deliver }}<br>
                        {% if order.wayOfDelivery=='Доставка до офис' %}
						Офис: {{order.office}}<br>
                        {% else %}
                        Адрес: {{order.address}}<br>
                        {% endif %}
						
					</p>
					<p class="email">Имейл: {{order.email}}</p>
				</div>

				<a href="/" class="btn btn-icon-left btn-dark btn-back btn-rounded btn-md mb-4">
					<i class="d-icon-arrow-left"></i>
					Назад към магазин</a>
			</div>
		</div>
	</main>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('/assets/js/succesfullOrder.js')}}"></script>

{% endblock %}
